<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="productOrder">
      <h2 data-cy="productOrderDetailsHeading"><span bitsTranslate="estoreApp.productOrder.detail.title">Product Order</span></h2>

      <hr />

      <bits-alert-error></bits-alert-error>

      <bits-alert></bits-alert>

      <dl class="row-md jh-entity-details">
        <dt><span bitsTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ productOrder.id }}</span>
        </dd>
        <dt><span bitsTranslate="estoreApp.productOrder.placedDate">Placed Date</span></dt>
        <dd>
          <span>{{ productOrder.placedDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span bitsTranslate="estoreApp.productOrder.status">Status</span></dt>
        <dd>
          <span bitsTranslate="{{ 'estoreApp.OrderStatus.' + productOrder.status }}">{{ productOrder.status }}</span>
        </dd>
        <dt><span bitsTranslate="estoreApp.productOrder.code">Code</span></dt>
        <dd>
          <span>{{ productOrder.code }}</span>
        </dd>
        <dt><span bitsTranslate="estoreApp.productOrder.customer">Customer</span></dt>
        <dd>
          <div *ngIf="productOrder.customer">
            <a [routerLink]="['/customer', productOrder.customer?.id, 'view']">{{ productOrder.customer?.email }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span bitsTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/product-order', productOrder.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span bitsTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
